<?xml version="1.0" encoding="UTF-8"?>
<Configuration dbunit.status="WARN">
    <Appenders>
        <File name="File" fileName="${catalina.home}/logs/studentApp.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.nixsolutions.studentgrade" level="TRACE"  additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>