<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="FileLogger" fileName="MyLog4j.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} - %msg%n" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" level="error" />
			<AppenderRef ref="FileLogger" level="trace" />
		</Root>
	</Loggers>
</Configuration>
