<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>servlets.AuthorizationCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userslist</servlet-name>
		<servlet-class>servlets.UsersList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateUser</servlet-name>
		<servlet-class>servlets.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addUser</servlet-name>
		<servlet-class>servlets.AddNewUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getBooks</servlet-name>
		<servlet-class>servlets.BookList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateCategory</servlet-name>
		<servlet-class>servlets.UpdateBookCategory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addCategory</servlet-name>
		<servlet-class>servlets.AddNewCategory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>servlets.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateBook</servlet-name>
		<servlet-class>servlets.UpdateBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addBook</servlet-name>
		<servlet-class>servlets.AddNewBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getReaders</servlet-name>
		<servlet-class>servlets.GetReadersList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateReader</servlet-name>
		<servlet-class>servlets.UpdateReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addNewReader</servlet-name>
		<servlet-class>servlets.AddNewReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>journal</servlet-name>
		<servlet-class>servlets.JournalDoc</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deleteJournalRecord</servlet-name>
		<servlet-class>servlets.DeleteJournalRecord</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/j_security_check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userslist</servlet-name>
		<url-pattern>/admin_tool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addUser</servlet-name>
		<url-pattern>/addUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getBooks</servlet-name>
		<url-pattern>/getBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateCategory</servlet-name>
		<url-pattern>/updateCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addCategory</servlet-name>
		<url-pattern>/addCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateBook</servlet-name>
		<url-pattern>/updateBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addBook</servlet-name>
		<url-pattern>/addBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getReaders</servlet-name>
		<url-pattern>/getReaders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateReader</servlet-name>
		<url-pattern>/updateReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addNewReader</servlet-name>
		<url-pattern>/addNewReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>journal</servlet-name>
		<url-pattern>/journal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteJournalRecord</servlet-name>
		<url-pattern>/deleteJournalRecord</url-pattern>
	</servlet-mapping>

</web-app>
