<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.nixsolutions.webApp.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminPageServlet</display-name>
		<servlet-name>AdminPageServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.AdminPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CarPageServlet</display-name>
		<servlet-name>CarPageServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.CarPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerPageServlet</display-name>
		<servlet-name>CustomerPageServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.CustomerPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WorkerPageServlet</display-name>
		<servlet-name>WorkerPageServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.WorkerPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PartPageServlet</display-name>
		<servlet-name>PartPageServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.PartPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewServlet</display-name>
		<servlet-name>AddNewServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.AddNewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PartOrderServlet</display-name>
		<servlet-name>PartOrderServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.PartOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WorkerOrderServlet</display-name>
		<servlet-name>WorkerOrderServlet</servlet-name>
		<servlet-class>com.nixsolutions.webApp.WorkerOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPageServlet</servlet-name>
		<url-pattern>/adminPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CarPageServlet</servlet-name>
		<url-pattern>/carPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerPageServlet</servlet-name>
		<url-pattern>/customerPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkerPageServlet</servlet-name>
		<url-pattern>/workerPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PartPageServlet</servlet-name>
		<url-pattern>/partPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewServlet</servlet-name>
		<url-pattern>/addNew</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/updateField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/deleteField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PartOrderServlet</servlet-name>
		<url-pattern>/updatePartOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkerOrderServlet</servlet-name>
		<url-pattern>/updateWorkerOrder</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <servlet-name>AdminPage</servlet-name> <display-name>AdminPage</display-name> 
		<description></description> <servlet-class>com.nixsolutions.webApp.AdminPage</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>AdminPage</servlet-name> <url-pattern>/adminPage</url-pattern> 
		</servlet-mapping> -->

</web-app>