<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
	<File name="File-log" fileName="log/output.log">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</File>
  </Appenders>
  <Loggers>
  <Root level="INFO" additivity="false">
    <AppenderRef ref="File-log"/>
  </Root>
  <Logger name="GlobalLogger" level="TRACE">
	<AppenderRef ref="STDOUT"/>
  </Logger>
  </Loggers>
</Configuration>