#nelson {text-align: center;}
#loginForm {text-align: center;}
.button
{background-color: #fff;
     color: #000;
     font-weight: bold;
     border: 2px solid #666;}
.button:hover
{background-color: #000;
     color: #fff;
     border: 2px solid #bbb;}
#message
{height: 50px;
width: 100%;}
#sidebar{
    float: left
    width:20%;
}
#content{
    text-align: left;
    width:80%;
    float:right;
}
#footer {
    clear:both;
}
.table {background: white; color: black}
.table tr.act {background: aqua; color: black}
#hint {
    position: absolute;
    display: none;
    border: 1px solid black;
    padding: 5px;
}
