<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUserServlet</servlet-name>
		<display-name>CreateUserServlet</display-name>
		<description></description>
		<servlet-class>servlets.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAllUsersServlet</servlet-name>
		<display-name>ViewAllUsersServlet</display-name>
		<description></description>
		<servlet-class>servlets.ViewAllUsersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<display-name>DeleteUserServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserServlet</servlet-name>
		<display-name>EditUserServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageStudentsServlet</servlet-name>
		<display-name>ManageStudentsServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageStudentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateStudentServlet</servlet-name>
		<display-name>CreateStudentServlet</display-name>
		<description></description>
		<servlet-class>servlets.CreateStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditStudentServlet</servlet-name>
		<display-name>EditStudentServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<display-name>DeleteStudentServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateStudentGroupServlet</servlet-name>
		<display-name>CreateStudentGroupServlet</display-name>
		<description></description>
		<servlet-class>servlets.CreateStudentGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteStudentGroupServlet</servlet-name>
		<display-name>DeleteStudentGroupServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteStudentGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditStudentGroupServlet</servlet-name>
		<display-name>EditStudentGroupServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditStudentGroupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageStudentGroupsServlet</servlet-name>
		<display-name>ManageStudentGroupsServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageStudentGroupsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageTermServlet</servlet-name>
		<display-name>ManageTermServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageTermServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditTermServlet</servlet-name>
		<display-name>EditTermServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditTermServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTermServlet</servlet-name>
		<display-name>DeleteTermServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteTermServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateTermServlet</servlet-name>
		<display-name>CreateTermServlet</display-name>
		<description></description>
		<servlet-class>servlets.CreateTermServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageTermsServlet</servlet-name>
		<display-name>ManageTermsServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageTermsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageSubjectsServlet</servlet-name>
		<display-name>ManageSubjectsServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageSubjectsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditSubjectServlet</servlet-name>
		<display-name>EditSubjectServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<display-name>DeleteSubjectServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateSubjectServlet</servlet-name>
		<display-name>CreateSubjectServlet</display-name>
		<description></description>
		<servlet-class>servlets.CreateSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageJournalServlet</servlet-name>
		<display-name>ManageJournalServlet</display-name>
		<description></description>
		<servlet-class>servlets.ManageJournalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchStudentsServlet</servlet-name>
		<display-name>SearchStudentsServlet</display-name>
		<description></description>
		<servlet-class>servlets.SearchStudentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/auth_check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout_do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/create_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllUsersServlet</servlet-name>
		<url-pattern>/view_all_users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/delete_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserServlet</servlet-name>
		<url-pattern>/edit_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageStudentsServlet</servlet-name>
		<url-pattern>/manage_students</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateStudentServlet</servlet-name>
		<url-pattern>/create_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStudentServlet</servlet-name>
		<url-pattern>/edit_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/delete_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateStudentGroupServlet</servlet-name>
		<url-pattern>/create_studentGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudentGroupServlet</servlet-name>
		<url-pattern>/delete_studentGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStudentGroupServlet</servlet-name>
		<url-pattern>/edit_studentGroup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageStudentGroupsServlet</servlet-name>
		<url-pattern>/manage_student_groups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditTermServlet</servlet-name>
		<url-pattern>/edit_term</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTermServlet</servlet-name>
		<url-pattern>/delete_term</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTermServlet</servlet-name>
		<url-pattern>/create_term</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageTermsServlet</servlet-name>
		<url-pattern>/manage_terms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageSubjectsServlet</servlet-name>
		<url-pattern>/manage_subjects</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditSubjectServlet</servlet-name>
		<url-pattern>/edit_subject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<url-pattern>/delete_subject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateSubjectServlet</servlet-name>
		<url-pattern>/create_subject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageJournalServlet</servlet-name>
		<url-pattern>/manage_journal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchStudentsServlet</servlet-name>
		<url-pattern>/search_students</url-pattern>
	</servlet-mapping>
</web-app>
