/bin/
*.metadata
/RemoteSystemsTempFiles/
/Servers
/target/
/_classpath
/_gitignore
/_project
/.recommenders/
# Eclipse
.classpath
.project
.settings/
# Maven
/log/
/target/
/RemoteSystemsTempFiles/
/Servers/
*.project
*.prefs
*.policy
../.recommenders/
